.DS_Store
.dart_tool/
.idea

.packages
.pub/
.idea/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

*.txt
android/.gradle

.flutter-plugins
*.lock
*.lock

.flutter-plugins-dependencies
android/.kotlin/
android/app/.cxx/
android/app/src/main/java/io/
ios/Flutter/flutter_export_environment.sh